* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  font-family: sans-serif;
}

.section1 {
  height: 100vh;
  position: relative;
  background: linear-gradient(264deg, #13a5cc 25%, #007dff 79%);
  padding: 15px 130px 115px 130px;
}

.section1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.section1 header .headh1 {
  font-family: cursive;
}

.section1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  font-family: monospace;
  font-weight: 600;
}

.section1 header nav a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
  font-size: 42px;
}

.section1 header nav a:hover {
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 10px 1px #2167e5;
          box-shadow: 0 1px 10px 1px #2167e5;
}

.section1 header button {
  background: #35d700;
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  color: white;
  margin: 0 85px 0 0;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.section1 header button:hover {
  background: #336462;
}

.section1 header button:focus {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-shadow: 0px 0px 7px 6px #0528c2b5;
          box-shadow: 0px 0px 7px 6px #0528c2b5;
}

.section1 #icon {
  position: absolute;
  top: 28px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 51;
}

.section1 #icon span:first-child {
  position: absolute;
  width: 25px;
  height: 2px;
  top: 13px;
  background: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 #icon span:nth-child(2) {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 #icon span:last-child {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  top: 36px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .active#icon span:first-child {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 35px;
  top: 25px;
  background: white;
}

.section1 .active#icon span:nth-child(2) {
  display: none;
}

.section1 .active#icon {
  background: red;
}

.section1 .active#icon span:last-child {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: white;
  width: 35px;
  top: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section1 #menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: #00c0fa;
  padding: 100px 0;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 50;
}

.section1 #menu .video1 {
  position: absolute;
  height: 100vh;
  top: 2px;
  right: 10px;
  left: 0px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.section1 #menu .moon {
  position: absolute;
  width: 48px;
  top: 35px;
  left: 30px;
}

.section1 #menu .moon-black {
  position: absolute;
  width: 48px;
  top: 35px;
  left: 30px;
  display: none;
}

.section1 #menu ul {
  position: relative;
  padding: 5px;
  margin-top: 50px;
  z-index: 2;
}

.section1 #menu ul li {
  list-style: none;
  color: white;
  line-height: 100px;
  font-size: 2rem;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.section1 #menu ul li:hover {
  background: #16018a;
}

.section1 #menu.active#menu {
  right: 0;
}

.section1 h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  margin-bottom: 10px;
}

.section1 p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 150%;
  color: white;
}

.section1 button {
  font-size: 25px;
  font-weight: bold;
  border: 3px solid #ffc107;
  margin-top: 20px;
}

.section1 .komp {
  position: absolute;
  right: 100px;
  top: 150px;
  z-index: 2;
}

.section1 .oqdumaloq {
  position: absolute;
  top: 467px;
  right: 186px;
  z-index: 1;
}

.section1 .sarudumaloq {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #f4d25b;
  position: absolute;
  top: 160px;
  right: 585px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: sharik;
          animation-name: sharik;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.section1 .kokdumaloq {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5956e9;
  position: absolute;
  top: 585px;
  right: 615px;
  -webkit-animation-name: sharik;
          animation-name: sharik;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.section1 .kompimg {
  position: absolute;
  right: 50px;
  top: 160px;
  z-index: 3;
}

.section1 .kompimg2 {
  position: absolute;
  top: 455px;
  right: 510px;
  z-index: 3;
}

.section1 .bigdumaloq {
  width: 477px;
  height: 750px;
  position: absolute;
  background: #5956e9;
  -webkit-clip-path: circle(65% at 90% 50%);
          clip-path: circle(65% at 90% 50%);
  top: 0px;
  right: 0;
  z-index: 0;
}

@media (max-width: 1400px) {
  .section1 .bigdumaloq {
    width: 450px;
    height: 720px;
  }
}

@media (max-width: 1200px) {
  .section1 .bigdumaloq {
    width: 400px;
    height: 680px;
  }
}

.section1 .modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 100px 200px 200px 200px;
  margin: auto;
  z-index: 100;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.section1 .modal .close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}

.section1 .modal .close span:first-child {
  position: absolute;
  width: 35px;
  height: 2px;
  top: 50%;
  background: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section1 .modal .close span:last-child {
  position: absolute;
  width: 35px;
  height: 2px;
  background: red;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section1 .modal .saytlar1 {
  width: 300px;
  height: 350px;
  background: red;
  padding: 10px;
}

.section1 .modal .saytlar1 img {
  width: 100%;
  height: 40%;
}

@-webkit-keyframes sharik {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes sharik {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=main.css.map */