* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: #000;
   
    font-family: sans-serif;
}
@import "sections/section1";
@import "utils/variables";
@import "../assets/animates/CreateCSSButton/main.scss";
@import "../assets/animates/CreativeLoading/main.scss";
@import "../assets/animates/ReadMore/main.scss";
@import "../assets/animates/HAPPYDIVALY/main.scss";
@import "../assets/animates/animatecsssvgblob/main.scss";
