@import url(//fonts.googleapis.com/css?family=Lato:300:400);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  font-family: sans-serif;
}

.section1 {
  height: 100vh;
  position: relative;
  background: linear-gradient(264deg, #13a5cc 25%, #007dff 79%);
  padding: 15px 130px 115px 130px;
  overflow: hidden;
}

.section1 .snowflake1 {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  border-radius: 50%;
  position: absolute;
  top: -10vh;
  -webkit-animation: snowfall1 5s linear infinite;
          animation: snowfall1 5s linear infinite;
  z-index: 100;
  opacity: 0.7;
}

@-webkit-keyframes snowfall1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

@keyframes snowfall1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

.section1 .snowflake1:nth-child(1) {
  --size: 1vw;
  /* randomize size! */
  left: 65vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(2) {
  --size: 1vw;
  /* randomize size! */
  left: 72vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(3) {
  --size: 0.2vw;
  /* randomize size! */
  left: 79vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(4) {
  --size: 0.8vw;
  /* randomize size! */
  left: 96vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(5) {
  --size: 0.4vw;
  /* randomize size! */
  left: 86vw;
  -webkit-animation: snowfall1 14s linear infinite;
          animation: snowfall1 14s linear infinite;
}

.section1 .snowflake1:nth-child(6) {
  --size: 0.6vw;
  /* randomize size! */
  left: 62vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(7) {
  --size: 0.4vw;
  /* randomize size! */
  left: 98vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(8) {
  --size: 0.4vw;
  /* randomize size! */
  left: 31vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(9) {
  --size: 0.4vw;
  /* randomize size! */
  left: 3vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(10) {
  --size: 0.8vw;
  /* randomize size! */
  left: 17vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(11) {
  --size: 0.4vw;
  /* randomize size! */
  left: 87vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(12) {
  --size: 0.8vw;
  /* randomize size! */
  left: 12vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(13) {
  --size: 0.6vw;
  /* randomize size! */
  left: 55vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(14) {
  --size: 0.4vw;
  /* randomize size! */
  left: 4vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(15) {
  --size: 0.2vw;
  /* randomize size! */
  left: 9vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(16) {
  --size: 1vw;
  /* randomize size! */
  left: 4vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(17) {
  --size: 1vw;
  /* randomize size! */
  left: 24vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(18) {
  --size: 1vw;
  /* randomize size! */
  left: 49vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(19) {
  --size: 0.4vw;
  /* randomize size! */
  left: 85vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(20) {
  --size: 0.6vw;
  /* randomize size! */
  left: 53vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(21) {
  --size: 0.8vw;
  /* randomize size! */
  left: 1vw;
  -webkit-animation: snowfall1 14s linear infinite;
          animation: snowfall1 14s linear infinite;
}

.section1 .snowflake1:nth-child(22) {
  --size: 0.8vw;
  /* randomize size! */
  left: 41vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(23) {
  --size: 0.6vw;
  /* randomize size! */
  left: 90vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(24) {
  --size: 0.6vw;
  /* randomize size! */
  left: 55vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(25) {
  --size: 0.6vw;
  /* randomize size! */
  left: 95vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(26) {
  --size: 0.4vw;
  /* randomize size! */
  left: 79vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(27) {
  --size: 0.8vw;
  /* randomize size! */
  left: 55vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(28) {
  --size: 0.2vw;
  /* randomize size! */
  left: 59vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(29) {
  --size: 0.4vw;
  /* randomize size! */
  left: 41vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(30) {
  --size: 0.4vw;
  /* randomize size! */
  left: 59vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(31) {
  --size: 0.4vw;
  /* randomize size! */
  left: 85vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(32) {
  --size: 0.4vw;
  /* randomize size! */
  left: 42vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(33) {
  --size: 0.8vw;
  /* randomize size! */
  left: 59vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(34) {
  --size: 0.2vw;
  /* randomize size! */
  left: 12vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(35) {
  --size: 0.6vw;
  /* randomize size! */
  left: 20vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(36) {
  --size: 0.4vw;
  /* randomize size! */
  left: 82vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(37) {
  --size: 0.8vw;
  /* randomize size! */
  left: 74vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(38) {
  --size: 0.6vw;
  /* randomize size! */
  left: 34vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(39) {
  --size: 0.4vw;
  /* randomize size! */
  left: 78vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(40) {
  --size: 0.8vw;
  /* randomize size! */
  left: 80vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(41) {
  --size: 0.8vw;
  /* randomize size! */
  left: 12vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(42) {
  --size: 1vw;
  /* randomize size! */
  left: 85vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(43) {
  --size: 1vw;
  /* randomize size! */
  left: 57vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(44) {
  --size: 0.6vw;
  /* randomize size! */
  left: 93vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(45) {
  --size: 1vw;
  /* randomize size! */
  left: 28vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(46) {
  --size: 0.2vw;
  /* randomize size! */
  left: 28vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(47) {
  --size: 0.2vw;
  /* randomize size! */
  left: 44vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(48) {
  --size: 0.4vw;
  /* randomize size! */
  left: 80vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(49) {
  --size: 0.8vw;
  /* randomize size! */
  left: 26vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(50) {
  --size: 0.4vw;
  /* randomize size! */
  left: 60vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.section1 header .headh1 {
  font-family: cursive;
}

.section1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  font-family: monospace;
  font-weight: 600;
}

.section1 header nav a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
  font-size: 42px;
}

.section1 header nav a:hover {
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 10px 1px #2167e5;
          box-shadow: 0 1px 10px 1px #2167e5;
}

.section1 header button {
  background: #35d700;
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  color: white;
  margin: 0 85px 0 0;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.section1 header button:hover {
  background: #336462;
}

.section1 header button:focus {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-shadow: 0px 0px 7px 6px #0528c2b5;
          box-shadow: 0px 0px 7px 6px #0528c2b5;
}

.section1 #icon {
  position: fixed;
  top: 28px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 51;
}

.section1 #icon span:first-child {
  position: absolute;
  width: 25px;
  height: 2px;
  top: 13px;
  background: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 #icon span:nth-child(2) {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 #icon span:last-child {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  top: 36px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .active#icon span:first-child {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 35px;
  top: 25px;
  background: white;
}

.section1 .active#icon span:nth-child(2) {
  display: none;
}

.section1 .active#icon {
  background: red;
}

.section1 .active#icon span:last-child {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: white;
  width: 35px;
  top: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section1 #menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: #00c0fa;
  padding: 100px 0;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 50;
}

.section1 #menu .video1 {
  position: absolute;
  height: 100vh;
  top: 2px;
  right: 10px;
  left: 0px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.section1 #menu ul {
  position: relative;
  padding: 5px;
  margin-top: 50px;
  z-index: 2;
}

.section1 #menu ul li {
  list-style: none;
  color: white;
  line-height: 151px;
  font-size: 2.6rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.section1 #menu ul li:hover {
  background: #16018a;
}

.section1 #menu.active#menu {
  right: 0;
}

.section1 h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  margin-bottom: 10px;
}

.section1 p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 150%;
  color: white;
}

.section1 button {
  font-size: 25px;
  font-weight: bold;
  border: 3px solid #ffc107;
  margin-top: 20px;
}

.section1 .komp {
  position: absolute;
  right: 100px;
  top: 150px;
  z-index: 2;
}

.section1 .oqdumaloq {
  position: absolute;
  top: 467px;
  right: 186px;
  z-index: 1;
}

.section1 .sarudumaloq {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #f4d25b;
  position: absolute;
  top: 160px;
  right: 585px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: sharik;
          animation-name: sharik;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.section1 .kokdumaloq {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5956e9;
  position: absolute;
  top: 585px;
  right: 615px;
  -webkit-animation-name: sharik;
          animation-name: sharik;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.section1 .kompimg {
  position: absolute;
  right: 50px;
  top: 160px;
  z-index: 3;
}

.section1 .kompimg2 {
  position: absolute;
  top: 455px;
  right: 510px;
  z-index: 3;
}

.section1 .bigdumaloq {
  width: 477px;
  height: 100%;
  position: absolute;
  background: #5956e9;
  -webkit-clip-path: circle(59% at 90% 50%);
          clip-path: circle(59% at 90% 50%);
  top: 0px;
  right: 0;
  z-index: 0;
}

.section1 #menu3 {
  overflow: auto;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 100px 111px 200px 116px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  background: linear-gradient(320deg, #7ab5ff 31%, #59a2f3 54%, #9cc6fb 76%);
  gap: 30px;
  overflow: hidden;
}

.modal .close {
  position: fixed;
  top: 20px;
  right: 45px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}

.modal .close span:first-child {
  position: absolute;
  width: 35px;
  height: 2px;
  top: 50%;
  background: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .close span:last-child {
  position: absolute;
  width: 35px;
  height: 2px;
  background: red;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  -webkit-animation: snowfall 5s linear infinite;
          animation: snowfall 5s linear infinite;
}

@-webkit-keyframes snowfall {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

@keyframes snowfall {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

.modal .snowflake:nth-child(1) {
  --size: 1vw;
  /* randomize size! */
  left: 64vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(2) {
  --size: 0.8vw;
  /* randomize size! */
  left: 51vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.modal .snowflake:nth-child(3) {
  --size: 0.2vw;
  /* randomize size! */
  left: 47vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.modal .snowflake:nth-child(4) {
  --size: 0.6vw;
  /* randomize size! */
  left: 86vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.modal .snowflake:nth-child(5) {
  --size: 0.2vw;
  /* randomize size! */
  left: 7vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(6) {
  --size: 0.8vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.modal .snowflake:nth-child(7) {
  --size: 0.8vw;
  /* randomize size! */
  left: 8vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.modal .snowflake:nth-child(8) {
  --size: 0.2vw;
  /* randomize size! */
  left: 52vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(9) {
  --size: 0.6vw;
  /* randomize size! */
  left: 41vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.modal .snowflake:nth-child(10) {
  --size: 0.2vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.modal .snowflake:nth-child(11) {
  --size: 0.8vw;
  /* randomize size! */
  left: 87vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.modal .snowflake:nth-child(12) {
  --size: 0.2vw;
  /* randomize size! */
  left: 33vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.modal .snowflake:nth-child(13) {
  --size: 0.6vw;
  /* randomize size! */
  left: 37vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.modal .snowflake:nth-child(14) {
  --size: 0.2vw;
  /* randomize size! */
  left: 46vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(15) {
  --size: 0.8vw;
  /* randomize size! */
  left: 54vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.modal .snowflake:nth-child(16) {
  --size: 0.8vw;
  /* randomize size! */
  left: 23vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(17) {
  --size: 1vw;
  /* randomize size! */
  left: 95vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.modal .snowflake:nth-child(18) {
  --size: 0.2vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(19) {
  --size: 0.8vw;
  /* randomize size! */
  left: 54vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.modal .snowflake:nth-child(20) {
  --size: 1vw;
  /* randomize size! */
  left: 1vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(21) {
  --size: 0.2vw;
  /* randomize size! */
  left: 86vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.modal .snowflake:nth-child(22) {
  --size: 1vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(23) {
  --size: 0.6vw;
  /* randomize size! */
  left: 41vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(24) {
  --size: 0.6vw;
  /* randomize size! */
  left: 55vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.modal .snowflake:nth-child(25) {
  --size: 1vw;
  /* randomize size! */
  left: 44vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(26) {
  --size: 0.8vw;
  /* randomize size! */
  left: 30vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(27) {
  --size: 1vw;
  /* randomize size! */
  left: 25vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.modal .snowflake:nth-child(28) {
  --size: 1vw;
  /* randomize size! */
  left: 19vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.modal .snowflake:nth-child(29) {
  --size: 0.6vw;
  /* randomize size! */
  left: 21vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.modal .snowflake:nth-child(30) {
  --size: 0.6vw;
  /* randomize size! */
  left: 38vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.modal .snowflake:nth-child(31) {
  --size: 1vw;
  /* randomize size! */
  left: 10vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.modal .snowflake:nth-child(32) {
  --size: 0.6vw;
  /* randomize size! */
  left: 87vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.modal .snowflake:nth-child(33) {
  --size: 1vw;
  /* randomize size! */
  left: 5vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.modal .snowflake:nth-child(34) {
  --size: 0.8vw;
  /* randomize size! */
  left: 22vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.modal .snowflake:nth-child(35) {
  --size: 1vw;
  /* randomize size! */
  left: 71vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.modal .snowflake:nth-child(36) {
  --size: 0.6vw;
  /* randomize size! */
  left: 29vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(37) {
  --size: 0.8vw;
  /* randomize size! */
  left: 99vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.modal .snowflake:nth-child(38) {
  --size: 0.8vw;
  /* randomize size! */
  left: 66vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.modal .snowflake:nth-child(39) {
  --size: 0.4vw;
  /* randomize size! */
  left: 87vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.modal .snowflake:nth-child(40) {
  --size: 0.6vw;
  /* randomize size! */
  left: 35vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(41) {
  --size: 1vw;
  /* randomize size! */
  left: 17vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.modal .snowflake:nth-child(42) {
  --size: 1vw;
  /* randomize size! */
  left: 26vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.modal .snowflake:nth-child(43) {
  --size: 1vw;
  /* randomize size! */
  left: 34vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.modal .snowflake:nth-child(44) {
  --size: 0.2vw;
  /* randomize size! */
  left: 57vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.modal .snowflake:nth-child(45) {
  --size: 1vw;
  /* randomize size! */
  left: 27vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.modal .snowflake:nth-child(46) {
  --size: 1vw;
  /* randomize size! */
  left: 42vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.modal .snowflake:nth-child(47) {
  --size: 0.2vw;
  /* randomize size! */
  left: 55vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.modal .snowflake:nth-child(48) {
  --size: 0.6vw;
  /* randomize size! */
  left: 14vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.modal .snowflake:nth-child(49) {
  --size: 1vw;
  /* randomize size! */
  left: 79vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.modal .snowflake:nth-child(50) {
  --size: 0.2vw;
  /* randomize size! */
  left: 86vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.modal .saytlar1 {
  width: 300px;
  height: 280px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(46deg, #17deeb8f 0%, #4981f58f 100%);
  border-radius: 15px;
}

.modal .saytlar1:hover {
  -webkit-box-shadow: 0 0 18px 0px #00ff37;
          box-shadow: 0 0 18px 0px #00ff37;
}

.modal .saytlar1 img {
  width: 270px;
  height: 67%;
  border-radius: 10px;
  opacity: 0.7;
}

.modal .saytlar1 img:hover {
  opacity: 1;
}

.modal .saytlar1 a {
  text-decoration: none;
  line-height: 75px;
  font-weight: bold;
  font-size: 35px;
  font-family: cursive;
  -webkit-animation-name: textanimation;
          animation-name: textanimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes textanimation {
  0% {
    color: #002fff;
  }
  10% {
    color: #0051ff;
  }
  20% {
    color: #0059ff;
  }
  30% {
    color: #0077ff;
  }
  40% {
    color: #0066ff;
  }
  50% {
    color: #0066ff;
  }
  60% {
    color: #0051ff;
  }
  70% {
    color: #003cff;
  }
  80% {
    color: #002fff;
  }
  90% {
    color: #003cff;
  }
  100% {
    color: #002fff;
  }
}

@keyframes textanimation {
  0% {
    color: #002fff;
  }
  10% {
    color: #0051ff;
  }
  20% {
    color: #0059ff;
  }
  30% {
    color: #0077ff;
  }
  40% {
    color: #0066ff;
  }
  50% {
    color: #0066ff;
  }
  60% {
    color: #0051ff;
  }
  70% {
    color: #003cff;
  }
  80% {
    color: #002fff;
  }
  90% {
    color: #003cff;
  }
  100% {
    color: #002fff;
  }
}

.animate {
  width: 100%;
  height: 100vh;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
}

.animate .close2 {
  position: fixed;
  top: 20px;
  right: 45px;
  width: 35px;
  z-index: 10;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  background: #000;
  opacity: 1;
}

.animate .close2 span:first-child {
  position: absolute;
  width: 35px;
  height: 2px;
  top: 50%;
  background: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animate .close2 span:last-child {
  position: absolute;
  width: 35px;
  height: 2px;
  background: red;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes sharik {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes sharik {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1920px) {
  .section1 {
    padding: 35px 130px 115px 130px;
  }
  .section1 h1 {
    font-size: 100px;
  }
  .section1 p {
    font-size: 30px;
  }
  .section1 .btn-outline-warning {
    font-size: 55px;
    margin-top: 50px;
  }
  .section1 header {
    margin-bottom: 120px;
  }
  .section1 header nav a {
    font-size: 65px;
  }
  .section1 header button {
    padding: 20px 50px;
    font-size: 35px;
  }
  .section1 #icon {
    top: 62px;
    right: 50px;
    width: 85px;
    height: 80px;
  }
  .section1 #icon span:first-child {
    width: 44px;
    height: 4px;
    border-radius: 10px;
    top: 21px;
  }
  .section1 #icon span:nth-child(2) {
    width: 44px;
    height: 4px;
    border-radius: 10px;
    top: 41px;
  }
  .section1 #icon span:last-child {
    width: 44px;
    border-radius: 10px;
    height: 4px;
    top: 61px;
  }
  .section1 #menu {
    width: 475px;
    right: -475px;
  }
  .section1 #menu ul {
    margin-top: 100px;
  }
  .section1 #menu ul li {
    line-height: 210px;
    font-size: 3.3rem;
  }
  .section1 #menu .moon {
    width: 67px;
    top: 65px;
    left: 40px;
  }
  .section1 #menu .moon-black {
    width: 67px;
    top: 65px;
    left: 40px;
  }
  .section1 .active#icon span:first-child {
    width: 63px;
    top: 37px;
  }
  .section1 .active#icon span:last-child {
    width: 63px;
    top: 37px;
  }
  .section1 .komp {
    width: 920px;
    right: 100px;
    top: 240px;
  }
  .section1 .oqdumaloq {
    width: 100px;
    top: 700px;
    right: 222px;
  }
  .section1 .sarudumaloq {
    width: 175px;
    height: 175px;
    top: 245px;
    right: 830px;
  }
  .section1 .kompimg {
    width: 400px;
    right: 62px;
    top: 265px;
  }
  .section1 .kompimg2 {
    width: 275px;
    top: 675px;
    right: 677px;
  }
  .section1 .bigdumaloq {
    width: 600px;
    height: 100%;
  }
}

@media (max-width: 1220px) {
  .section1 {
    padding: 22px 120px 90px 100px;
  }
  .section1 h1 {
    font-size: 53px;
  }
  .section1 p {
    margin-top: 25px;
    font-size: 22px;
  }
  .section1 .btn-outline-warning {
    font-size: 35px;
    margin-top: 30px;
  }
  .section1 header {
    margin-bottom: 75px;
  }
  .section1 header nav a {
    font-size: 40px;
  }
  .section1 header button {
    margin: 0 25px 0 0;
    padding: 15px 35px;
    font-size: 23px;
  }
  .section1 #icon {
    top: 35px;
    width: 55px;
    height: 55px;
  }
  .section1 #icon span:first-child {
    width: 28px;
    height: 3px;
    border-radius: 10px;
    top: 14px;
  }
  .section1 #icon span:nth-child(2) {
    width: 28px;
    height: 3px;
    border-radius: 10px;
    top: 28px;
  }
  .section1 #icon span:last-child {
    width: 28px;
    border-radius: 10px;
    height: 3px;
    top: 41px;
  }
  .section1 .komp {
    width: 580px;
    right: 20px;
    top: 165px;
  }
  .section1 .oqdumaloq {
    top: 455px;
    right: 93px;
  }
  .section1 .sarudumaloq {
    width: 110px;
    height: 110px;
    top: 160px;
    right: 480px;
  }
  .section1 .kompimg {
    width: 265px;
    right: -5px;
    top: 160px;
  }
  .section1 .kompimg2 {
    top: 456px;
    right: 395px;
  }
  .section1 .kokdumaloq {
    right: 550px;
  }
  .section1 .bigdumaloq {
    width: 415px;
    height: 100%;
  }
}

@media (max-width: 437px) {
  .section1 {
    min-height: 855px;
    padding: 15px 30px 30px 30px;
  }
  .section1 h1 {
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
  }
  .section1 .h1well {
    font-size: 40px;
  }
  .section1 p {
    text-align: center;
  }
  .section1 .btn-outline-warning {
    margin-top: 310px;
    width: 100%;
    font-size: 29px;
  }
  .section1 header {
    gap: 30px;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-bottom: 38px;
  }
  .section1 header nav {
    display: none;
  }
  .section1 header button {
    display: none;
  }
  .section1 #icon {
    top: 15px;
    width: 44px;
    height: 44px;
    right: 35px;
  }
  .section1 #icon span:first-child {
    width: 22px;
    height: 2px;
    border-radius: 10px;
    top: 14px;
  }
  .section1 #icon span:nth-child(2) {
    width: 22px;
    height: 2px;
    border-radius: 10px;
    top: 22px;
  }
  .section1 #icon span:last-child {
    width: 22px;
    border-radius: 10px;
    height: 2px;
    top: 30px;
  }
  .section1 #menu {
    width: 300px;
    right: -300px;
  }
  .section1 #menu ul {
    margin-top: 40px;
  }
  .section1 #menu ul li {
    line-height: 140px;
    font-size: 2.0rem;
  }
  .section1 #menu .moon {
    width: 40px;
    top: 20px;
  }
  .section1 #menu .moon-black {
    width: 40px;
    top: 20px;
  }
  .section1 .modal {
    overflow: auto;
  }
  .section1 .active#icon span:first-child {
    width: 33px;
    top: 22px;
  }
  .section1 .active#icon span:last-child {
    width: 33px;
    top: 22px;
  }
  .section1 .komp {
    width: 350px;
    top: 430px;
  }
  .section1 .oqdumaloq {
    display: none;
  }
  .section1 .sarudumaloq {
    display: none;
  }
  .section1 .kompimg {
    width: 175px;
    right: 0px;
    top: 425px;
  }
  .section1 .kompimg2 {
    top: 550px;
    right: 254px;
    width: 135px;
  }
  .section1 .bigdumaloq {
    display: none;
  }
}

@media (max-width: 470px) {
  .section1 {
    min-height: 855px;
    padding: 15px 30px 30px 30px;
  }
  .section1 h1 {
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
  }
  .section1 .h1well {
    font-size: 40px;
  }
  .section1 p {
    text-align: center;
  }
  .section1 .btn-outline-warning {
    margin-top: 310px;
    width: 100%;
    font-size: 29px;
  }
  .section1 header {
    gap: 30px;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-bottom: 38px;
  }
  .section1 header nav {
    display: none;
  }
  .section1 header button {
    display: none;
  }
  .section1 #icon {
    top: 15px;
    width: 44px;
    height: 44px;
    right: 35px;
  }
  .section1 #icon span:first-child {
    width: 22px;
    height: 2px;
    border-radius: 10px;
    top: 14px;
  }
  .section1 #icon span:nth-child(2) {
    width: 22px;
    height: 2px;
    border-radius: 10px;
    top: 22px;
  }
  .section1 #icon span:last-child {
    width: 22px;
    border-radius: 10px;
    height: 2px;
    top: 30px;
  }
  .section1 #menu {
    width: 300px;
    right: -300px;
  }
  .section1 #menu ul {
    margin-top: 40px;
  }
  .section1 #menu ul li {
    line-height: 140px;
    font-size: 2.0rem;
  }
  .section1 #menu .moon {
    width: 40px;
    top: 20px;
  }
  .section1 #menu .moon-black {
    width: 40px;
    top: 20px;
  }
  .section1 .modal {
    overflow: auto;
  }
  .section1 .active#icon span:first-child {
    width: 33px;
    top: 22px;
  }
  .section1 .active#icon span:last-child {
    width: 33px;
    top: 22px;
  }
  .section1 .oqdumaloq {
    display: none;
  }
  .section1 .sarudumaloq {
    display: none;
  }
  .section1 .kompimg {
    width: 175px;
    right: 0px;
    top: 385px;
  }
  .section1 .kompimg2 {
    top: 535px;
    right: 254px;
    width: 135px;
  }
  .section1 .komp {
    width: 350px;
    top: 375px;
    left: 80px;
  }
  .section1 .bigdumaloq {
    display: none;
  }
}

@media (max-width: 415px) {
  .section1 .komp {
    width: 350px;
    top: 435px;
    left: 46px;
  }
  .section1 .kompimg {
    width: 163px;
    right: 0px;
    top: 430px;
  }
  .section1 .kompimg2 {
    top: 570px;
    right: 233px;
    width: 135px;
  }
  .section1 .c-theme-btn {
    top: 0;
    width: 4rem;
    height: 4rem;
  }
}

.animation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  background: #0e1538;
}

.animation-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.animation-1 .container a {
  position: relative;
  width: 160px;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
}

.animation-1 .container a::before, .animation-1 .container a::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #f00;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.animation-1 .container a:nth-child(1):before, .animation-1 .container a:nth-child(1):after {
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}

.animation-1 .container a:nth-child(2):before, .animation-1 .container a:nth-child(2):after {
  background: linear-gradient(45deg, #ff075b, #0e1538, #0e1538, #1aff22);
}

.animation-1 .container a:hover:before {
  inset: -3px;
}

.animation-1 .container a:hover:after {
  inset: -3px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.animation-1 .container a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #0e1538;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #040a29;
  overflow: hidden;
}

.animation-1 .container a span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.animation-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #042104;
  -webkit-animation: animateBg 10s linear infinite;
          animation: animateBg 10s linear infinite;
}

@-webkit-keyframes animateBg {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.animation-2 .loading {
  position: relative;
  width: 120px;
  height: 120px;
}

.animation-2 .loading span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}

.animation-2 .loading span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  -webkit-box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
          box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.animation-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #350048;
}

.animation-3 .container {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.animation-3 .container .btn {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}

.animation-3 .container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.01);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.animation-3 .container .btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.15)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  -webkit-transform: skewX(45deg) translateX(0);
          transform: skewX(45deg) translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-3 .container .btn:hover a {
  letter-spacing: 3px;
}

.animation-3 .container .btn:hover a::before {
  -webkit-transform: skewX(45deg) translateX(100px);
          transform: skewX(45deg) translateX(100px);
}

.animation-3 .container .btn::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.animation-3 .container .btn:hover::before {
  bottom: 0;
  width: 80%;
  height: 50%;
  border-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.animation-3 .container .btn::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -5px;
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.animation-3 .container .btn:hover::after {
  top: 0;
  width: 80%;
  height: 50%;
  border-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.animation-3 .container .btn:nth-child(1)::before, .animation-3 .container .btn:nth-child(1)::after {
  background: #ff1f71;
  -webkit-box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
          box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
}

.animation-3 .container .btn:nth-child(2)::before, .animation-3 .container .btn:nth-child(2)::after {
  background: #2bd2ff;
  -webkit-box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
          box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}

.animation-3 .container .btn:nth-child(3)::before, .animation-3 .container .btn:nth-child(3)::after {
  background: #1eff45;
  -webkit-box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
          box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.animation-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  background: #07252d;
}

.animation-5 h2 {
  position: relative;
  font-size: 6em;
  color: #0e3742;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);
}

.animation-5 h2 span {
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.animation-5 h2 span:nth-child(even) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: white;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4;
  }
}

.animation-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #250821;
}

.animation-4 h1 {
  color: white;
  font-size: 55px;
  position: absolute;
  line-height: 80px;
  top: 37%;
  left: 20%;
  text-align: center;
  z-index: 1;
}

.animation-4 .blob {
  position: absolute;
  width: 500px;
  height: 500px;
}

.animation-4 .blob:nth-child(2) {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

html {
  --primary: #00D1B2;
  --primary-dark: #00B298;
  --accent: #F9CA24;
  --color: #535B6A;
  --bg: linear-gradient(264deg, rgba(19,165,204,1) 25%, rgba(0,125,255,1) 79%);
}

html.theme--night {
  --primary-dark: #13F1D0;
  --accent: #E684AF;
  --color: #D3C9E1;
  --bg: #211630;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

.inner-header, .waves {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--color);
  -webkit-transition: color 120ms ease-out 0s;
  transition: color 120ms ease-out 0s;
}

.section1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--color);
  -webkit-transition: color 120ms ease-out 0s;
  transition: color 120ms ease-out 0s;
}

.c-theme-btn {
  position: absolute;
  top: 15px;
  left: 50px;
  display: inline-block;
  border: 0;
  width: 4.5rem;
  height: 4.5rem;
  padding: 0;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
  margin-bottom: 2.4rem;
  -webkit-transition: all 240ms ease-out 0ms;
  transition: all 240ms ease-out 0ms;
}

.c-theme-btn__inner {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  color: var(--accent);
  -webkit-transition: all 120ms ease-out 240ms;
  transition: all 120ms ease-out 240ms;
  position: absolute;
  top: 0px;
  left: 0;
}

.c-theme-btn:hover {
  -webkit-transform: scale(1.05) rotate(-15deg);
          transform: scale(1.05) rotate(-15deg);
}

.c-theme-btn:before {
  content: '';
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  background: var(--bg);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0.5) translate(50%, -50%);
          transform: scale(0.5) translate(50%, -50%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: -webkit-transform 320ms ease-out 120ms;
  transition: -webkit-transform 320ms ease-out 120ms;
  transition: transform 320ms ease-out 120ms;
  transition: transform 320ms ease-out 120ms, -webkit-transform 320ms ease-out 120ms;
}

.c-theme-btn:active, .c-theme-btn:focus {
  outline: 0;
}

.c-theme-btn.is-active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-theme-btn.is-active .c-theme-btn__inner {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.c-theme-btn.is-active:hover {
  -webkit-transform: scale(1.05) rotate(-60deg);
          transform: scale(1.05) rotate(-60deg);
}

.c-theme-btn.is-active:before {
  -webkit-transform: scale(1) translate(0%, -50%);
          transform: scale(1) translate(0%, -50%);
  -webkit-transition: -webkit-transform 320ms ease-out 0ms;
  transition: -webkit-transform 320ms ease-out 0ms;
  transition: transform 320ms ease-out 0ms;
  transition: transform 320ms ease-out 0ms, -webkit-transform 320ms ease-out 0ms;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
}

.header .inner-header {
  height: 100%;
  width: 100%;
  padding: 100px 0 40px 0;
  color: white;
}

.header .inner-header .simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.header .inner-header .simple .logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.header .inner-header .simple h1 {
  text-align: center;
}

.header .inner-header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .inner-header .links h2 {
  font-size: 20px;
}

.header .inner-header .links a {
  font-size: 20px;
  color: aqua;
  text-decoration: none;
}

.header .inner-header .links .link-1, .header .inner-header .links .link-2, .header .inner-header .links .link-3, .header .inner-header .links .link-4, .header .inner-header .links .link-5 {
  width: 230px;
  padding: 8px;
  border-radius: 10px;
  background-color: #00ffff40;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 100px 0 40px 0;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: white;
  text-align: start;
}

.content p {
  font-size: 25.72px;
  font-weight: bold;
}

.content a {
  font-size: 16px;
}

.content .fotp {
  position: relative;
  top: -50px;
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    padding: 100px 0 100px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .content .fotp {
    top: 10px;
    font-size: 20px;
  }
  h1 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */