* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  font-family: sans-serif;
}

.section1 {
  height: 100vh;
  position: relative;
  background: linear-gradient(264deg, #13a5cc 25%, #007dff 79%);
  padding: 15px 130px 115px 130px;
  overflow: hidden;
}

.section1 .snowflake1 {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  border-radius: 50%;
  position: absolute;
  top: -10vh;
  -webkit-animation: snowfall1 5s linear infinite;
          animation: snowfall1 5s linear infinite;
  z-index: 100;
  opacity: 0.7;
}

@-webkit-keyframes snowfall1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

@keyframes snowfall1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

.section1 .snowflake1:nth-child(1) {
  --size: 1vw;
  /* randomize size! */
  left: 9vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(2) {
  --size: 0.8vw;
  /* randomize size! */
  left: 65vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(3) {
  --size: 0.6vw;
  /* randomize size! */
  left: 65vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(4) {
  --size: 0.2vw;
  /* randomize size! */
  left: 2vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(5) {
  --size: 0.6vw;
  /* randomize size! */
  left: 15vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(6) {
  --size: 0.6vw;
  /* randomize size! */
  left: 78vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(7) {
  --size: 0.2vw;
  /* randomize size! */
  left: 95vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(8) {
  --size: 1vw;
  /* randomize size! */
  left: 80vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(9) {
  --size: 0.8vw;
  /* randomize size! */
  left: 56vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(10) {
  --size: 0.8vw;
  /* randomize size! */
  left: 35vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(11) {
  --size: 0.8vw;
  /* randomize size! */
  left: 100vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(12) {
  --size: 0.8vw;
  /* randomize size! */
  left: 10vw;
  -webkit-animation: snowfall1 15s linear infinite;
          animation: snowfall1 15s linear infinite;
}

.section1 .snowflake1:nth-child(13) {
  --size: 0.4vw;
  /* randomize size! */
  left: 73vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(14) {
  --size: 0.6vw;
  /* randomize size! */
  left: 74vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(15) {
  --size: 0.4vw;
  /* randomize size! */
  left: 44vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(16) {
  --size: 0.6vw;
  /* randomize size! */
  left: 2vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(17) {
  --size: 0.2vw;
  /* randomize size! */
  left: 2vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(18) {
  --size: 0.4vw;
  /* randomize size! */
  left: 99vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(19) {
  --size: 0.2vw;
  /* randomize size! */
  left: 1vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(20) {
  --size: 0.6vw;
  /* randomize size! */
  left: 64vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(21) {
  --size: 0.4vw;
  /* randomize size! */
  left: 80vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(22) {
  --size: 0.4vw;
  /* randomize size! */
  left: 59vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(23) {
  --size: 0.4vw;
  /* randomize size! */
  left: 20vw;
  -webkit-animation: snowfall1 14s linear infinite;
          animation: snowfall1 14s linear infinite;
}

.section1 .snowflake1:nth-child(24) {
  --size: 0.4vw;
  /* randomize size! */
  left: 19vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(25) {
  --size: 0.2vw;
  /* randomize size! */
  left: 56vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(26) {
  --size: 0.8vw;
  /* randomize size! */
  left: 41vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(27) {
  --size: 0.8vw;
  /* randomize size! */
  left: 83vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(28) {
  --size: 1vw;
  /* randomize size! */
  left: 51vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(29) {
  --size: 0.4vw;
  /* randomize size! */
  left: 88vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(30) {
  --size: 0.8vw;
  /* randomize size! */
  left: 20vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(31) {
  --size: 0.2vw;
  /* randomize size! */
  left: 12vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(32) {
  --size: 0.6vw;
  /* randomize size! */
  left: 74vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(33) {
  --size: 0.8vw;
  /* randomize size! */
  left: 65vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(34) {
  --size: 1vw;
  /* randomize size! */
  left: 85vw;
  -webkit-animation: snowfall1 14s linear infinite;
          animation: snowfall1 14s linear infinite;
}

.section1 .snowflake1:nth-child(35) {
  --size: 0.8vw;
  /* randomize size! */
  left: 23vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(36) {
  --size: 0.4vw;
  /* randomize size! */
  left: 20vw;
  -webkit-animation: snowfall1 11s linear infinite;
          animation: snowfall1 11s linear infinite;
}

.section1 .snowflake1:nth-child(37) {
  --size: 1vw;
  /* randomize size! */
  left: 79vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(38) {
  --size: 0.2vw;
  /* randomize size! */
  left: 27vw;
  -webkit-animation: snowfall1 14s linear infinite;
          animation: snowfall1 14s linear infinite;
}

.section1 .snowflake1:nth-child(39) {
  --size: 0.6vw;
  /* randomize size! */
  left: 47vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(40) {
  --size: 0.4vw;
  /* randomize size! */
  left: 43vw;
  -webkit-animation: snowfall1 6s linear infinite;
          animation: snowfall1 6s linear infinite;
}

.section1 .snowflake1:nth-child(41) {
  --size: 0.4vw;
  /* randomize size! */
  left: 65vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(42) {
  --size: 1vw;
  /* randomize size! */
  left: 99vw;
  -webkit-animation: snowfall1 13s linear infinite;
          animation: snowfall1 13s linear infinite;
}

.section1 .snowflake1:nth-child(43) {
  --size: 1vw;
  /* randomize size! */
  left: 60vw;
  -webkit-animation: snowfall1 10s linear infinite;
          animation: snowfall1 10s linear infinite;
}

.section1 .snowflake1:nth-child(44) {
  --size: 0.6vw;
  /* randomize size! */
  left: 23vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(45) {
  --size: 0.2vw;
  /* randomize size! */
  left: 100vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(46) {
  --size: 0.6vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall1 12s linear infinite;
          animation: snowfall1 12s linear infinite;
}

.section1 .snowflake1:nth-child(47) {
  --size: 0.2vw;
  /* randomize size! */
  left: 77vw;
  -webkit-animation: snowfall1 7s linear infinite;
          animation: snowfall1 7s linear infinite;
}

.section1 .snowflake1:nth-child(48) {
  --size: 0.2vw;
  /* randomize size! */
  left: 93vw;
  -webkit-animation: snowfall1 8s linear infinite;
          animation: snowfall1 8s linear infinite;
}

.section1 .snowflake1:nth-child(49) {
  --size: 0.4vw;
  /* randomize size! */
  left: 54vw;
  -webkit-animation: snowfall1 9s linear infinite;
          animation: snowfall1 9s linear infinite;
}

.section1 .snowflake1:nth-child(50) {
  --size: 0.4vw;
  /* randomize size! */
  left: 83vw;
  -webkit-animation: snowfall1 14s linear infinite;
          animation: snowfall1 14s linear infinite;
}

.section1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.section1 header .headh1 {
  font-family: cursive;
}

.section1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  font-family: monospace;
  font-weight: 600;
}

.section1 header nav a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
  font-size: 42px;
}

.section1 header nav a:hover {
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 10px 1px #2167e5;
          box-shadow: 0 1px 10px 1px #2167e5;
}

.section1 header button {
  background: #35d700;
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  color: white;
  margin: 0 85px 0 0;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.section1 header button:hover {
  background: #336462;
}

.section1 header button:focus {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-shadow: 0px 0px 7px 6px #0528c2b5;
          box-shadow: 0px 0px 7px 6px #0528c2b5;
}

.section1 #icon {
  position: absolute;
  top: 28px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 51;
}

.section1 #icon span:first-child {
  position: absolute;
  width: 25px;
  height: 2px;
  top: 13px;
  background: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 #icon span:nth-child(2) {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 #icon span:last-child {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  top: 36px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .active#icon span:first-child {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 35px;
  top: 25px;
  background: white;
}

.section1 .active#icon span:nth-child(2) {
  display: none;
}

.section1 .active#icon {
  background: red;
}

.section1 .active#icon span:last-child {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: white;
  width: 35px;
  top: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section1 #menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: #00c0fa;
  padding: 100px 0;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 50;
}

.section1 #menu .video1 {
  position: absolute;
  height: 100vh;
  top: 2px;
  right: 10px;
  left: 0px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.section1 #menu .moon {
  position: absolute;
  width: 48px;
  top: 35px;
  left: 30px;
}

.section1 #menu .moon-black {
  position: absolute;
  width: 48px;
  top: 35px;
  left: 30px;
  display: none;
}

.section1 #menu ul {
  position: relative;
  padding: 5px;
  margin-top: 50px;
  z-index: 2;
}

.section1 #menu ul li {
  list-style: none;
  color: white;
  line-height: 100px;
  font-size: 2rem;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.section1 #menu ul li:hover {
  background: #16018a;
}

.section1 #menu.active#menu {
  right: 0;
}

.section1 h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  margin-bottom: 10px;
}

.section1 p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 150%;
  color: white;
}

.section1 button {
  font-size: 25px;
  font-weight: bold;
  border: 3px solid #ffc107;
  margin-top: 20px;
}

.section1 .komp {
  position: absolute;
  right: 100px;
  top: 150px;
  z-index: 2;
}

.section1 .oqdumaloq {
  position: absolute;
  top: 467px;
  right: 186px;
  z-index: 1;
}

.section1 .sarudumaloq {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #f4d25b;
  position: absolute;
  top: 160px;
  right: 585px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: sharik;
          animation-name: sharik;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.section1 .kokdumaloq {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5956e9;
  position: absolute;
  top: 585px;
  right: 615px;
  -webkit-animation-name: sharik;
          animation-name: sharik;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.section1 .kompimg {
  position: absolute;
  right: 50px;
  top: 160px;
  z-index: 3;
}

.section1 .kompimg2 {
  position: absolute;
  top: 455px;
  right: 510px;
  z-index: 3;
}

.section1 .bigdumaloq {
  width: 477px;
  height: 750px;
  position: absolute;
  background: #5956e9;
  -webkit-clip-path: circle(65% at 90% 50%);
          clip-path: circle(65% at 90% 50%);
  top: 0px;
  right: 0;
  z-index: 0;
}

@media (max-width: 1400px) {
  .section1 .bigdumaloq {
    width: 450px;
    height: 720px;
  }
}

@media (max-width: 1200px) {
  .section1 .bigdumaloq {
    width: 400px;
    height: 680px;
  }
}

.section1 .modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 100px 111px 200px 116px;
  margin: auto;
  z-index: 100;
  background: linear-gradient(320deg, #7ab5ff 31%, #59a2f3 54%, #9cc6fb 76%);
  gap: 30px;
  overflow: hidden;
}

.section1 .modal .close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}

.section1 .modal .close span:first-child {
  position: absolute;
  width: 35px;
  height: 2px;
  top: 50%;
  background: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section1 .modal .close span:last-child {
  position: absolute;
  width: 35px;
  height: 2px;
  background: red;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section1 .modal .snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  -webkit-animation: snowfall 5s linear infinite;
          animation: snowfall 5s linear infinite;
}

@-webkit-keyframes snowfall {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

@keyframes snowfall {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 110vh, 0);
            transform: translate3d(0, 110vh, 0);
  }
}

.section1 .modal .snowflake:nth-child(1) {
  --size: 0.2vw;
  /* randomize size! */
  left: 52vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.section1 .modal .snowflake:nth-child(2) {
  --size: 0.2vw;
  /* randomize size! */
  left: 3vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.section1 .modal .snowflake:nth-child(3) {
  --size: 0.4vw;
  /* randomize size! */
  left: 69vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(4) {
  --size: 0.2vw;
  /* randomize size! */
  left: 25vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.section1 .modal .snowflake:nth-child(5) {
  --size: 0.6vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(6) {
  --size: 0.4vw;
  /* randomize size! */
  left: 36vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.section1 .modal .snowflake:nth-child(7) {
  --size: 1vw;
  /* randomize size! */
  left: 86vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.section1 .modal .snowflake:nth-child(8) {
  --size: 1vw;
  /* randomize size! */
  left: 40vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.section1 .modal .snowflake:nth-child(9) {
  --size: 0.2vw;
  /* randomize size! */
  left: 79vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.section1 .modal .snowflake:nth-child(10) {
  --size: 0.6vw;
  /* randomize size! */
  left: 59vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(11) {
  --size: 1vw;
  /* randomize size! */
  left: 44vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.section1 .modal .snowflake:nth-child(12) {
  --size: 1vw;
  /* randomize size! */
  left: 32vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.section1 .modal .snowflake:nth-child(13) {
  --size: 0.2vw;
  /* randomize size! */
  left: 16vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(14) {
  --size: 1vw;
  /* randomize size! */
  left: 93vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(15) {
  --size: 0.6vw;
  /* randomize size! */
  left: 84vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.section1 .modal .snowflake:nth-child(16) {
  --size: 0.8vw;
  /* randomize size! */
  left: 39vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.section1 .modal .snowflake:nth-child(17) {
  --size: 0.6vw;
  /* randomize size! */
  left: 98vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.section1 .modal .snowflake:nth-child(18) {
  --size: 0.2vw;
  /* randomize size! */
  left: 3vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.section1 .modal .snowflake:nth-child(19) {
  --size: 0.8vw;
  /* randomize size! */
  left: 7vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.section1 .modal .snowflake:nth-child(20) {
  --size: 0.8vw;
  /* randomize size! */
  left: 49vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(21) {
  --size: 1vw;
  /* randomize size! */
  left: 70vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(22) {
  --size: 0.2vw;
  /* randomize size! */
  left: 76vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.section1 .modal .snowflake:nth-child(23) {
  --size: 1vw;
  /* randomize size! */
  left: 62vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(24) {
  --size: 1vw;
  /* randomize size! */
  left: 74vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.section1 .modal .snowflake:nth-child(25) {
  --size: 0.2vw;
  /* randomize size! */
  left: 14vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.section1 .modal .snowflake:nth-child(26) {
  --size: 0.8vw;
  /* randomize size! */
  left: 88vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(27) {
  --size: 0.4vw;
  /* randomize size! */
  left: 96vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(28) {
  --size: 0.8vw;
  /* randomize size! */
  left: 52vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.section1 .modal .snowflake:nth-child(29) {
  --size: 0.2vw;
  /* randomize size! */
  left: 66vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.section1 .modal .snowflake:nth-child(30) {
  --size: 0.4vw;
  /* randomize size! */
  left: 49vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.section1 .modal .snowflake:nth-child(31) {
  --size: 0.8vw;
  /* randomize size! */
  left: 2vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.section1 .modal .snowflake:nth-child(32) {
  --size: 1vw;
  /* randomize size! */
  left: 38vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.section1 .modal .snowflake:nth-child(33) {
  --size: 0.8vw;
  /* randomize size! */
  left: 19vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.section1 .modal .snowflake:nth-child(34) {
  --size: 0.4vw;
  /* randomize size! */
  left: 98vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.section1 .modal .snowflake:nth-child(35) {
  --size: 0.6vw;
  /* randomize size! */
  left: 18vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(36) {
  --size: 0.6vw;
  /* randomize size! */
  left: 80vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.section1 .modal .snowflake:nth-child(37) {
  --size: 1vw;
  /* randomize size! */
  left: 73vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.section1 .modal .snowflake:nth-child(38) {
  --size: 0.8vw;
  /* randomize size! */
  left: 83vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.section1 .modal .snowflake:nth-child(39) {
  --size: 0.2vw;
  /* randomize size! */
  left: 36vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.section1 .modal .snowflake:nth-child(40) {
  --size: 0.8vw;
  /* randomize size! */
  left: 72vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(41) {
  --size: 0.8vw;
  /* randomize size! */
  left: 14vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.section1 .modal .snowflake:nth-child(42) {
  --size: 0.2vw;
  /* randomize size! */
  left: 35vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.section1 .modal .snowflake:nth-child(43) {
  --size: 0.2vw;
  /* randomize size! */
  left: 100vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.section1 .modal .snowflake:nth-child(44) {
  --size: 0.2vw;
  /* randomize size! */
  left: 23vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.section1 .modal .snowflake:nth-child(45) {
  --size: 0.8vw;
  /* randomize size! */
  left: 71vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.section1 .modal .snowflake:nth-child(46) {
  --size: 0.6vw;
  /* randomize size! */
  left: 34vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.section1 .modal .snowflake:nth-child(47) {
  --size: 0.2vw;
  /* randomize size! */
  left: 1vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(48) {
  --size: 1vw;
  /* randomize size! */
  left: 93vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.section1 .modal .snowflake:nth-child(49) {
  --size: 0.8vw;
  /* randomize size! */
  left: 81vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.section1 .modal .snowflake:nth-child(50) {
  --size: 0.2vw;
  /* randomize size! */
  left: 91vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.section1 .modal .saytlar1 {
  width: 300px;
  height: 280px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(46deg, #17deeb8f 0%, #4981f58f 100%);
  border-radius: 15px;
}

.section1 .modal .saytlar1:hover {
  -webkit-box-shadow: 0 0 18px 0px #00ff37;
          box-shadow: 0 0 18px 0px #00ff37;
}

.section1 .modal .saytlar1 img {
  width: 270px;
  height: 67%;
  border-radius: 10px;
  opacity: 0.7;
}

.section1 .modal .saytlar1 img:hover {
  opacity: 1;
}

.section1 .modal .saytlar1 a {
  text-decoration: none;
  line-height: 75px;
  font-weight: bold;
  font-size: 35px;
  font-family: cursive;
  -webkit-animation-name: textanimation;
          animation-name: textanimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes textanimation {
  0% {
    color: #002fff;
  }
  10% {
    color: #0051ff;
  }
  20% {
    color: #0059ff;
  }
  30% {
    color: #0077ff;
  }
  40% {
    color: #0066ff;
  }
  50% {
    color: #0066ff;
  }
  60% {
    color: #0051ff;
  }
  70% {
    color: #003cff;
  }
  80% {
    color: #002fff;
  }
  90% {
    color: #003cff;
  }
  100% {
    color: #002fff;
  }
}

@keyframes textanimation {
  0% {
    color: #002fff;
  }
  10% {
    color: #0051ff;
  }
  20% {
    color: #0059ff;
  }
  30% {
    color: #0077ff;
  }
  40% {
    color: #0066ff;
  }
  50% {
    color: #0066ff;
  }
  60% {
    color: #0051ff;
  }
  70% {
    color: #003cff;
  }
  80% {
    color: #002fff;
  }
  90% {
    color: #003cff;
  }
  100% {
    color: #002fff;
  }
}

@-webkit-keyframes sharik {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes sharik {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=main.css.map */