*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.animation-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #250821;
h1{
    color: white;
    font-size: 55px;
    position: absolute;
    line-height: 80px;
    top: 37%;
    left: 20%;
    text-align: center;
    z-index: 1;
}
    .blob{
        position: absolute;
        width: 500px;
        height: 500px;
    }
    .blob:nth-child(2){
      filter: blur(50px);
    }
}